<% title "#{@title}" %>

    <span id="right_content">

      <div id="form_content">

        <div id="form_content_header">

          <span id="form_content_header_stakeon2_advert_flyers">
          <!-- end #form_content_header_stakeon2_advert_flyers --></span>

          <span id="form_content_header_body">
          <!-- end #form_content_header_body --></span>

          <span id="form_content_header_right">
          <!-- end #form_content_header_right --></span>

        <!-- end #form_content_header --></div>

        <div id="form_content_body">

          <div id="form_content_text">

            <div id="content_body">

              <!-- end Start of Page Body -->

                <div id="flyer_thumbnails">

                  <div id="flyer_thumbnail_holder">

                    <span id="flyer_thumbnail_front">

                      <div class="flyer_thumbnail_photo">

                        <%= image_tag "Don-Wizaro-Flyer-Front-Thumbnail.jpg" %>

                      <!-- end .flyer_thumbnail_photo --></div>

                      <div class="flyer_thumbnail_button">

                        <%= image_tag "View-Front-Page-Normal-Button.jpg" %>

                      <!-- end .flyer_thumbnail_button --></div>

                    <!-- end #flyer_thumbnail_front --></span>

                    <span id="flyer_thumbnail_gap">
                    <!-- end #flyer_thumbnail_gap --></span>

                    <span id="flyer_thumbnail_back">

                      <div class="flyer_thumbnail_photo">

                        <%= link_to image_tag( "Don-Wizaro-Flyer-Back-Thumbnail.jpg" ), back_path %>

                      <!-- end .flyer_thumbnail_photo --></div>

                      <div class="flyer_thumbnail_button">

                        <%= link_to image_tag( "View-Back-Page-Normal-Button.jpg", :mouseover => "/images/View-Back-Page-Hover-Button.jpg" ), back_path %>

                      <!-- end .flyer_thumbnail_button --></div>

                    <!-- end #flyer_thumbnail_back --></span>

                  <!-- end #flyer_thumbnail_holder --></div>

                <!-- end #flyer_thumbnails --></div>

                <div id="thumbnails_button_flyer_gap">
                <!-- end #thumbnails_button_flyer_gap --></div>

                <div id="flyer">

                  <%= image_tag "Don-Wizaro-Flyer-Front-Page.jpg" %>

                <!-- end #flyer --></div>

              <!-- end Stop of Page Body -->

            <!-- end #content_body --></div>


          <!-- end #form_content_text --></div>

        <!-- end #form_content_body --></div>

